@import '../../sass/config';

footer {
  background-color: white;
  bottom: 0;
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.2);
      -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.2);
                 box-shadow: 0px 0px 10px rgba(0,0,0,.2);
  left: 0;
  padding: 15px 0 5px;
  position: fixed;
  width: 100%;
  .layout__inner-footer {
    margin: 0 auto;
    max-width: 1280px;
    overflow: visible;
    padding: 0 15px;
    @include breakpoint(md) {
      padding: 0 25px;
    }
  }
  &.open {
    .zippypoll__participating-polls {
      label:after {
        content: '\25bc';
      }
      ul {
        border-top: 1px solid $borderColor;
        -webkit-box-shadow: 0px -8px 10px -8px  rgba(0,0,0,.2);
            -moz-box-shadow: 0px -8px 10px -8px  rgba(0,0,0,.2);
                       box-shadow:0px -8px 10px -8px  rgba(0,0,0,.2);
        display: block;
        left: 1px;
        width: calc(100vw);
        li {
          margin: 0 auto;
          max-width: 1280px;
        }
        @include breakpoint(md) {
          left: 0;
          width: calc(100% - 20px);
        }
      }
    }
  }
}

.zippypoll__participating-polls {
  display: block;
  float: left;
  height: 42px;
  label {
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    height: 42px;
    line-height: 42px;
    margin: 0;
    padding-right: 15px;
    position: relative;
    &:after {
      content: '\25b2';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  ul {
    background-color: white;
    bottom: 100%;
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    position: absolute;
    li {
      padding-top: 15px;
    }
  }

}

.zippypoll__footer-links {
  font-size: .75rem;
  margin: 0 0 10px;
  padding: 0;
  text-align: center;
}

.layout__footer-actions {
  height: 42px;
  overflow: visible;
  .colored-button {
    display: none;
    float: right;
    height: 20px;
    margin: 0;
  }
}

body[data-page="poll"], body[data-page="about"]{
  footer {
    .create-poll-button {
      display: block;
      font-size: 12px;
      height: auto;
      @include breakpoint(md) {
        font-size: 14px;
      }
    }
  }
}
