@import '../../sass/config';

footer {
  background-color: white;
  bottom: 0;
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.2);
      -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.2);
                 box-shadow: 0px 0px 10px rgba(0,0,0,.2);
  left: 0;
  padding: 15px 0 10px;
  position: fixed;
  width: 100%;
  .layout__inner-footer {
    margin: 0 auto;
    max-width: 1280px;
    overflow: visible;
    padding: 0 25px;
  }
}

.zippypoll__participating-polls {
  display: block;
  float: left;
  height: 42px;
  position: relative;
  label {
    display: inline-block;
    height: 42px;
    line-height: 42px;
    margin: 0;
  }
  ul {
    background-color: white;
    bottom: 100%;
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    position: absolute;
  }
  &.open {
    ul {
      border: 1px solid $borderColor;
      border-bottom: 0;
      display: block;
      left: -25px;
      width: calc(100vw);
      @include breakpoint(md) {
        border: 0;
        box-shadow: $boxshadow;
        left: 0;
        width: 50vw;
      }
    }
  }
}

.zippypoll__footer-links {
  font-size: .75rem;
  margin: 10px 0;
  padding: 0;
  text-align: center;
}

.layout__footer-actions {
  height: 42px;
  overflow: visible;
  .colored-button {
    display: none;
    float: right;
    height: 20px;
    margin: 0;
  }
}

body[data-page="poll"], body[data-page="about"]{
  footer {
    .create-poll-button {
      display: block;
    }
  }
}
