@import '../../sass/config';

.zippypoll_edit {
  cursor: pointer;
  display: inline-block;
  font-size: 10px;
  margin-left: 10px;
}

.zippypoll__options-holder {
  list-style-type: none;
  margin: 50px 0;
  padding: 0;
  text-align: left;
  @include breakpoint(sm) {
    min-height: 200px;
  }
  li {
    line-height: 30px;
    margin: 20px 0 0 0;
    min-height: 52px;
    overflow: auto;
    position: relative;
    .zippypoll__option {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 65%;
    }
    .zippypoll__votes {
      float: right;
      text-align: right;
      width: 34%;
      div {
        display: inline-block;
      }
    }
    .zippypoll__nickname-vote {
      border: 1px solid $primaryAccent;
      border-radius: 8px;
      margin: 5px;
      padding: 10px;
    }
  }

  .zippypoll__option {
    cursor: pointer;
    padding-left: 32px;
    position: relative;
    &:before {
      @include coloredButton;
      border-radius: 50%;
      content: '-';
      font-size: 24px;
      height: 24px;
      left: 0;
      line-height: 24px;
      position: absolute;
      text-align: center;
      top: 50%;
      transform: translateY( -50% );
      width: 24px;
    }
    &.zippypoll__add-option:before {
      content: '+';
    }
    &:hover {
      &:before {
        @include coloredButtonHover;
      }
    }
  }
}
