@import '../../sass/config';

.zippypoll_edit {
  cursor: pointer;
  display: inline-block;
  font-size: 10px;
  margin-left: 10px;
}

.zippypoll__options-holder {
  list-style-type: none;
  margin: 25px 0;
  padding: 0;
  text-align: left;
  @include breakpoint(md) {
    margin: 50px 0;
    min-height: 150px;
  }
  li {
    border-bottom: 1px solid $borderColor;
    line-height: 30px;
    margin: 20px 0 0 0;
    min-height: 52px;
    overflow: auto;
    padding-bottom: 15px;
    position: relative;
    text-align: left;
    @include breakpoint(md) {
      align-items: center;
      display: flex;
      justify-content: center;
      text-align: right;
    }
    .zippypoll__option {
      display: block;
      @include breakpoint(md) {
        display: inline-block;
        text-align: left;
        width: 65%;
      }
    }
    .zippypoll__votes {
      font-size: .75rem;
      line-height: .75rem;
      margin-top: 10px;
      padding-left: 32px;
      @include breakpoint(md) {
        display: inline-block;
        margin-top: 10px;
        padding-left: 0;
        text-align: right;
        width: 30%;
      }
      div {
        display: inline-block;
      }
    }
    .zippypoll__nickname-vote {
      border: 1px solid $primaryAccent;
      border-radius: 8px;
      margin: 0 5px 5px 5px;
      padding: 7px;
    }
  }

  .zippypoll__option {
    cursor: pointer;
    padding-left: 32px;
    position: relative;
    &.zippypoll__hide-voting {
      cursor: auto;
      padding-left: 0;
    }
    &:before {
      @include coloredButton;
      border-radius: 50%;
      content: '-';
      font-size: 24px;
      height: 24px;
      left: 0;
      line-height: 22px;
      position: absolute;
      text-align: center;
      top: 50%;
      transform: translateY( -50% );
      width: 24px;
    }
    &.zippypoll__add-option:before {
      content: '+';
      line-height: 24px;
    }
    &.zippypoll__subtract-option:before {
      @include coloredButtonHover;
    }
    &.zippypoll__hide-voting:before {
      display: none;
    }
    &:hover {
      &:before {
        @include coloredButtonHover;
      }
    }
  }
}
