@import './sass/config';
@import "~normalize.css";

a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}
body {

}
.layout__header-holder {

}
header {
  margin: 0 auto;
  max-width: 1200px;
  overflow: hidden;
  padding: 35px 25px 25px 0px;
}
