@import './sass/config';
@import "~normalize.css";

a:active, a:focus, input, input:focus {
  outline: 0;
  -moz-outline-style: none;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}
html {
  height: 100%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100%;
}
.layout__header-holder {

}
header {
  margin: 0 auto;
  max-width: $maxContentWidth;
  overflow: visible;
  padding: 35px 25px 25px 0px;
  text-align: center;
}

.zippypoll__maxwidth-content-holder {
  margin: 0 auto;
  max-width: $maxContentWidth;
  padding: 25px;
}

.zippypoll__fade-element {
  opacity: 0;
  transition: opacity 1s;
  &.zippypoll__fadeIn {
    opacity: 1;
  }
  &.zippypoll__fadeout {
    opacity: 0;
  }
}

.zippypoll__error-message {
  color: $error;
}

input[type='text'] {
  border: 1px solid $borderColor;
  padding: 10px 50px 10px 10px;
}

.zippypoll__field-inerror {
  input[type='text'] {
      border: 1px solid $error;
  }
}

.zippypoll__form-step {
  display: none;
  position: relative;
  text-align: left;
}

.zippypoll__active-form-step {
  display: block;
}

.zippypoll__entry-block {
  background: $white;
  border: 1px solid $borderColor;
  border-radius: 8px;
  box-shadow: $boxshadow;
  display: inline-block;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  h1 {
    margin: 0;
  }
  @include breakpoint(sm) {
    padding: 40px;
  }
}

label {
  display: block;
  font-weight: bold;
  margin: 40px 0 15px 0;
}

input[type='text'] {
  border-radius: 6px;
  margin-bottom: 10px;
  width: calc( 100% - 64px);
}
button {
  border: 1px solid;
  border-bottom: 0;
  border-right: 0;
  border-top: 0;
  border-radius: 0 6px 6px 0;
  height: 38px;
  position: absolute;
  right: 2.95px;
  top: 34.5px;
}
