$bodyBackground: #d5d9b4;

$primaryColor: #FFFF00;
$primaryAccent: #ffbf00;

$logoRed: #FF0000;
  $error: $logoRed;

$borderColor: #d0d0d0;

$boxshadow: 0 0 4px 5px rgba(0,0,0,.05);

$white: #FFFFFF;
