@import '../../sass/config';

.layout__logo {
  background-color: $primaryColor;
  border: 1px solid $primaryAccent;
  border-radius: 50%;
  box-shadow: 1px 5px 10px 0px rgba(0, 0, 0, 0.1);
  display: inline-block;
  padding: 10px;
  transform: rotate(-10deg);
  h1 {
    color: $logoRed;
    display: inline-block;
    font-size: 2em;
    font-style: italic;
    line-height: 35px;
    margin: 0;
    padding: 0;
    text-shadow:
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
    transform: rotate(10deg);
    @include breakpoint(md) {
      font-size: 4em;
      line-height: 50px;
    }
  }
}

.scene {
  display: inline-block;
  perspective: 1000px;
}

.card {
  display: inline-block;
  font-family: "Times New Roman", Times, serif;
  height: 40px;
  position: relative;
  transform-style: preserve-3d;
  transform-origin: 35% 50%;
  transition: transform 1s ease-out;
  width: 200px;
  @include breakpoint(md) {
      height: 65px;
      width: 300px;
  }
}

.entry-animation .card {
  transform: rotateY(-360deg);
}

.card__face {
  backface-visibility: hidden;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.card__face--back {
  top: 17px;
  transform: rotateX(180deg);
  @include breakpoint(md) {
    top: 6px;
  }
  .layout__logo {
    transform: rotate(10deg);
    h1 {
      transform: rotate(-10deg);
      visibility: hidden;
    }
  }
}
