@import '../../sass/config';

.zippypoll__home {
    text-align: center;
}

.zippypoll__home__entry-block {
  background: $white;
  border: 1px solid $borderColor;
  border-radius: 8px;
  box-shadow: $boxshadow;
  display: inline-block;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  h1 {
    margin: 0;
  }
  @include breakpoint(sm) {
    padding: 40px;
  }
}
