@import '../../sass/config';

.zippypoll__form-holder {

}

.zippypoll__form-footer {
  font-size: .75rem;
  margin: 20px 0 0 0;
  overflow: auto;
  text-align: left;
  div {
    float: left;
    margin-top: 10px;
  }
  div:first-child {
    width: 100%;
  }
  div:last-child {
    float: right;
  }
}
